{% extends 'base.html' %}


{% block content %}
    <h1>Oi, {{ user.username }}!</h1>
    {% for post in posts %}
        <div><p>{{post.author.username}} falou: <b>{{ post.body }} </b></p></div>
    {% endfor %}
{% endblock %}
